.search {
  width: 500px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 42px;
  font-weight: 500;
  color: #f6f8fa;
}

input {
  font-size: 32px;
  font-weight: 400;
  color: #79b8ff;
  padding: 15px;
  width: 100%;
  background-color: #26303c;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
}
